.states {
    fill: #DEDCDD;
    stroke: none;
}
.urban {
    fill: #C7C6C6;
    stroke: none;
}
.roads {
    stroke: #A6A6A6;
    stroke-width: 0.5px;
}
.places {
    fill: none;
    stroke-width: 1px;
    stroke: #333;
}
.bufferwgs84,
.water {
    fill: #F7F8FC;
    stroke: none;
}
circle {
    stroke-width: 4px;
    fill-opacity: 0.2;
}
polygon.buffer {
    stroke-width: 0.25px;
    stroke: #666;
}
polygon.mi_30 {
    stroke-width: 0;
    stroke: none;
}
.league_nhl {
    /* orange */
    stroke: #FF8F2F;
    fill: #FF8F2F;
    r: 16;
}
.league_nfl {
    /* red */
    stroke: #F2464F;
    fill: #F2464F;
    r: 16;
}
.league_mlb {
    /* green */
    stroke: #177B10;
    fill: #177B10;
    r: 20;
}
.league_nba {
    /* blue */
    stroke: #5053ED;
    fill: #5053ED;
    r: 20;
}
.league_mls {
    stroke: #C0378F;
    fill: #C0378F;
    r: 16;
}
