.states {
    fill: #BBB;
    stroke: none;
}
.urban {
    fill: #999;
    stroke: none;
}
.roads {
    stroke: white;
    stroke-width: 0.5px;
}
.places {
    fill: none;
    stroke-width: 1px;
    stroke: #333;
}
circle {
    stroke-width: 6px;
    r: 18;
}
.ring_y {
    stroke-width: 0.5px;
    color: #111;
}
.league_nhl {
    stroke: darkcyan;
    fill: darkcyan;
}
.league_nfl {
    stroke: red;
    fill: red;
}
.league_mlb {
    stroke: orange;
    fill: orange;
}
.leagu_nba {
    stroke: cornflowerblue;
    fill: cornflowerblue;
}
