.states {
    fill: #BBB;
    stroke: none;
}
.urban {
    fill: #999;
    stroke: none;
}
.roads {
    stroke: white;
    stroke-width: 0.5px;
}
.places {
    fill: none;
    stroke-width: 1px;
    stroke: #333;
}
.bufferwgs84,
.water {
    fill: #E6F3FF;
    stroke: none;
}
circle {
    stroke-width: 3px;
    fill-opacity: 0.2;
}
#buffer polygon {
    stroke-width: 0.5px;
    stroke: #666;
}
.league_nhl {
    stroke: #538B67;
    fill: #538B67;
    r: 8;
}
.league_nfl {
    stroke: #FF6D6F;
    fill: #FF6D6F;
    r: 8;
}
.league_mlb {
    stroke: #FFB84B;
    fill: #FFB84B;
    r: 9;
}
.league_nba {
    stroke: #5053ED;
    fill: #5053ED;
    r: 9;
}
